:root {
    ---azul-principal: #2C1EE6;
    ---azul-claro:#3CEBFF;
    ---roxo:#9B25F5;
    ---ciano:#2978E6;
    ---verde:#47dd9f;
}
body {
    background-color: #9B25F5;
}
.painel1 {
    width: 90%;
    height: 20%;
    background-color.var(---azul-principal);
}
.painel2 {
    height: 450px;
    width: 100%;
}
.rodape {
height: 15%;
width: 60%;
background-color.var(---roxo)
}


